 html, body {
	padding: 0;
	margin: 0;
	/* background: url("../img/header-background.png") repeat; */
	background:#405258;
	height: 100%;
	width:100%;
}
.login-container{
	display:block;
	margin:10px auto;
	width:290px;
}
.logo h1{Color:#FFF;margin-top:150px;margin-bottom:20px;font-size:42px;}
 .login-form .form-control{background-color:#f1f1f1;}
 .login-form .btn-info{background-color:#111;border-color:#111;}
 .login-form {
		border: solid 1px #333333;
		background: #1e1e1e;
		background:#e2e2e2;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
		-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
		color:#474d4f;
		display:block;
		margin:20px auto;
		width:300px;
	}
	.logo{
		text-align:center;
		vertical-align: middle;
	}
	.logo img{margin:50px 0px 15px 0px;}
	.login-form form{margin:0;}


.login_error_message, .logoff_message {

    font-size: 14px;
	height:45px;
    line-height:40px;
	margin:0 auto;
    text-align: center;
	width:auto;
	-moz-border-radius:0px 0px 4px 4px;
    -webkit-border-radius: 4px;
    border-radius: 0px 0px 4px 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    -box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}
.logoff_message{ 
background-color: rgba(78,184,74,0.4);
background:#5EFF45;
color: #000;
opacity: .5; /* other browsers  and IE9+ */
filter: alpha(opacity=50); /* IE6+ */
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);  
}

.login_error_message{ 
background-color: rgba(180,22,22,0.4);
background:#ff0000;
color: #FFF;
opacity: .6; /* other browsers  and IE9+ */
filter: alpha(opacity=60); /* IE6+ */
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);  
 }
.loginbox{display:block;
	margin:0px auto;
	width:290px;}
.box_content {
    background-color: #e2e2e2;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.08), 0 0 20px 5px rgba(0, 0, 0, 0.2) inset;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 1px 0;
	border-color:#2f3e42;
}
.box_content div.field {
    background: rgba(0, 0, 0, 0) url("../img/line.png") repeat-x scroll left bottom;
    overflow: hidden;
	padding:20px 0px 5px 0px;
	margin:-20px 0px 20px 0px ;
}
.box_content .panel-body{padding:15px 15px 5px 15px;}
.box_content input[type="text"], .box_content input[type="password"], .box_content textarea {
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.03) inset;
    color: #858a8e;
    font-size: 12px;
    padding: 0px 20px;
    text-shadow: 1px 1px #fff;
}
.box_content .btn-info {
    background-color: #2f3e42;
    border-color: #2f3e42;
    color: #fff;
}
.box_content .form-horizontal .control-label {
    color: #676d6f;
    font-size: 13px;
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
    text-shadow: 1px 1px #fff;
}
.panel-default > .panel-heading{background-color:#2f3e42;border-color:#2f3e42;margin-top:-1px;border-radius:0px;padding:10px 18px;}
.panel-default{border-color:#2f3e42;}
.panel-title{color:#FFF;font-weight:bold;}